#App {
  width: 90%;
  margin: 2rem;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#app-container{
  min-height: 100%;
  position: relative;
}

.outlet-container{
  background-color: #eee;
  padding: 0rem 0 20rem 0;
}

.modal-container{
  position: absolute;
  top: 7%;
  left: 0%;
  width: 100%;
  height: 80%;
  background-color: rgba(50,50,50,0.3);
  z-index: 4
}

#profile-modal{
  position: relative;
  width: 50%;
  margin: 4rem auto;
  padding: 2rem;
  background-color: #fff;
  box-shadow: darkgray 2px 2px;
  border-radius: 2px;
}

#mob-menu-bottom{
  position: absolute;
  bottom: 0;
  width: 100%;
  color: darkgray
}

#mob-menu-logout{
  display: block;
  width: 90%;
  margin: auto;
}

#mob-menu-btm-txt{
  width: 100%;
  text-align: center;
  font-size: 0.75rem;
  margin-top: 1rem;
}

#mob-menu-btn{
  position: absolute;
  right: 2rem;
  top: 1.25rem;
}

.close-btn{
  position: absolute;
  top: 1rem;
  right: 2rem;
}

#holding-list-container{
  background-color: #eee;
  padding: 4rem 0 30rem 0;
}

.prop-list-card{
  margin: 1rem;
}

.prop-list-card:hover{
  background-color: #eee;
  transition: all 0.1s ease-in-out;
  transform: scale(1.02);
}

.prop-list-card-title{
  margin: 1rem 0;
  padding-left: 1rem;
  border-left: 4px solid #5ca8b2;
}

.prop-list-card-address{
  margin-bottom: 1rem;
  padding-left: 1rem;
}

.prop-list-card-price{
  padding-left: 1rem;
  color: #5ca8b2
}

.prop-list-card-right-info{
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.prop-list-mob-info{
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}
.prop-list-mob-info:last-child{
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.prop-type-card{
  position: relative;
  margin: 1rem;
}

.prop-type-card:hover{
  background-color: #eee;
  transition: all 0.1s ease-in-out;
  transform: scale(1.02);
}

.prop-type-check{
  position: absolute;
  right: 1rem;
  padding-bottom: 0.15rem
}

#users-list{
  margin: 4rem auto;
  width: 80%;
  height: 87.5vh;
}

.featured-card{
  width: 80%;
  height: 250px;
  margin: 1rem auto;
}

.relative{
  position: relative;
}

.feat-card-top{
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: white;
  font-size: 0.5rem;
  padding: 1rem;
  background-image: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0));
}

.feat-card-top > p{
  margin: 0;
}

.feat-card-banner{
  position: absolute;
  display: flex;
  width: 100%;
  top: 8rem;
  margin: auto;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  color: white;
}

.feat-card-banner > div > p {
  margin: 0;
}

.team-card{
  width: 80%;
  height: 250px;
  margin: 1rem auto;
  position: relative;
}

.team-card-center{
  position: absolute;
  width: 100%;
  top: 30%;
  background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 25%, rgba(0,0,0,0.5) 75%, rgba(0,0,0,0) 100%);
  padding: 1rem;
}

.team-card-center > p{
  text-align: center;
  color: white;
}

#details-container{
  position: relative;
  background-color: #eee;
  padding: 0rem 0 30rem 0;
}

#property-edit-modal-container{
  position: absolute;
  top: 0;
  background-color: rgba(100,100,100,0.3);
  width: 100%;
  height: 100%;
}

#property-edit-modal{
  position: relative;
  width: 80%;
  margin: 4rem auto;
  background-color: #eee;
  padding: 2rem;
}

#property-edit-modal > h3{
  color: #5ca8b2;
  text-align: center;
}

#property-edit-modal > p {
  font-weight: bold;
  font-size: 0.8em;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.form-prompt {
  font-weight: bold;
  font-size: 0.8em;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#header {
  position: relative;
  height: 500px;
  /* background-image: url('./Lib/img/header-skyline.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(2px); */
}

#header-bg{
  filter: blur(2px);
  width: 100%;
  height: 100%;
}

#navbar{
  position: absolute;
  top: 2%;
}

#page-title{
  position: absolute;
  top: 35%;
  left: 8.7%;
  padding: 1rem;
  background-color: rgba(80,80,80,0.5);
  color: white;
}

#footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.25);
}