body {
    background-color: #f4f4f4;
}

.dividers {
    color: #5ca8b2;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: x-large

}

.mini-bar {
    width: 1.5rem;
    height: 0.2rem;
    background-color: #5ca8b2;;
    align-items: flex-end;
}

#overview-card {
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12rem
}

/* .overview-mini-card {
    border-radius: 1% !important;
    width: 13rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 2px 0px 2px #9c9c9c;;
    border-bottom: white;
} */

#overview-card2 {
    display: flex;
    justify-content: center;
    border-radius: 1% !important;
    padding: 3rem;
    box-shadow: 2px 2px 2px #9c9c9c;;
}

#location-card {
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 12rem
}

#location-card2 {
    height: 45rem
}

.financial-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 40rem;
    padding: 2rem

    
}

.financial-card-item {
    width: 33%;
}

.property-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 55rem;
    padding: 2rem

    
}

.property-card2 {
    display: block;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: auto;
    padding: 4rem

    
}

